{% extends 'base.html' %}
{% load static %}


{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock custom_styles %}
    

{% block content %}

<div class="login-container">
    <img src="{%static 'images/devilearn.png'%}" alt="Logo Devilearn">
    <h2 class="login-title">Sesion start</h2>
    <form method="POST" class='login-form'>
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn-submit">Log In</button>
    </form>
</div>
    
{% endblock content %}
    