{% load static %}
 <div class="sidebar">
    <div class="logo">
        <img src="{% static 'images/devilearn.png' %}" alt="Logo">
    </div>
    <ul class="menu">
        
        <li><a class="menu-option" href="{% url 'instructor:course_list' %}"><i class="fa-solid fa-person-chalkboard"></i><span>Courses</span></a></li>
        {% comment %} <li><a class="menu-option" href="{% url 'student:course_list' %}"><i
                    class="fa-solid fa-chalkboard-user icon"></i><span>Students</span></a></li> {% endcomment %}

    </ul>
    <ul class="bottom-menu">
        <li><a class="menu-option" href="{% url 'profile' %}"><i class="fa-solid fa-user icon"></i><span>Profile</span></a>
        </li>
        <li><a class="menu-option" href="#"><i class="fa-solid fa-gear icon"></i><span>Settings</span></a>
        </li>
        {% comment %} <li>
            <form class="form-logout" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn-logout" type="submit">
                    <i class="fa-solid fa-power-off"></i>
                </button>

            </form> {% endcomment %}
        </li>
    </ul>
</div>