{% extends 'base.html' %}


{% block title %}
    My Courses
{% endblock title %}
    
{% load static %}


{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
{% endblock custom_styles %}
    
{% block content %}
    <div class="layout">
        {% include 'includes/sidebar_instructor.html'%}
        <div class="main-content">
            {% include 'includes/header_instructor.html' %}
            <main>
                <h2 class="form-title">My Courses</h2>
                <div class="add-new-course">
                    <a href="{% url 'instructor:course_create' %}">Add New Course</a>
                </div>

                <div class="carousel-wrapper">
                    <div class="course-grid">
                        {% for course in courses %}
                            <div class="course-card">
                                <img src="{{ course.image }}" alt="{{ course.title }}" class="course-img">
                                <div class="course-info">
                                    <h3 class="course-title">{{ course.title }}</h3>
                                </div>
                                <a href="#"><i class="fa-solid fa-eye"></i>Watch Modules</a>
                                <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        {% empty %}
                            <p>No courses found.</p>
                        {% endfor %}

                        
                        {% if is_paginated %}
                            <div class="paginator">
                                
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                {% endif %}

                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                                {% endif %}
                                    
                            </div>
                        {% endif %}
                            
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock content %}