{% extends 'base.html' %}


{% block title %}
    Create/Edit Course
{% endblock title %}
    
{% load static %}


{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/instructor_styles.css' %}">
{% endblock custom_styles %}


{% block content %}
    <div class="layout">
        {% include 'includes/sidebar_instructor.html'%}
        <div class="main-content">
            {% include 'includes/header_instructor.html' %}

            <main>

                <h2 class="form-title">{{form.instance.pk|yesno:"Edit Course,Create Course"}}</h2>
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </main>

        </div>
    </div>
{% endblock content %}
    